<p>Look at all the awesome posts omg</p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <span class="date"><%= post.created_at.strftime '%d %b %Y' %></span>
      <a href="/posts/<%= post.id %>">
        <%= primer "/posts/#{post.id}/title", :span %>
      </a>
    </li>
  <% end %>
</ul>

