<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>My ROFLscale blog</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/primer.js"></script>
  </head>
  <body>
    
    <div class="header"><div class="sub">
      <h1>My ROFLscale blog</h1>
      <h2>If you can&rsquo;t store it in <tt>/dev/null</tt> it isn&rsquo;t worth reading</h2>
    </div></div>
    
    <div class="content"><div class="sub">
      <%= yield %>
    </div></div>
    
    <div class="footer"><div class="sub">
      <p>Copyright &copy; 2010 That&rsquo;s What She Said</p>
    </div></div>
    
  </body>
</html>

