<h3><%= @post.title.upcase %></h3>
<h4>
  By <%= @post.author %> &mdash;
  <%= primer "/posts/#{@post.id}/date", :span %>
</h4>

<% primer "/posts/#{@post.id}/body" do %>
  <p><%= @post.body %></p>
<% end %>

